<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="el">
            <h1 v-if="mensaje.length > 2">Hola
                <span v-text="mensaje"></span>
            </h1>
            <!--en vez de v-show podemos usar v-if-->
            <h1 v-else>otra</h1>
            <input type="text" class="text" v-model="mensaje">
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>

        var variable = new Vue({
            el: '#el',
            data: {
                mensaje: "resultado"
            }
        })
    </script>
</html>
